*, *::before, *::after{
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

:root{
    --HUE_NEUTRAL: 200;
    --HUE-WRONG: 0; 
    --HUE-CORRECT: 145;
}

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --hue: var(--HUE_NEUTRAL);
    background-color: hsl(var(--hue), 100%, 40%)
}

h1{
    font-size: larger;
}

body.correct, .btn.correct{
    --hue: var(--HUE-CORRECT);
    color: black;
}

.btn.correct.selected{
    color: white;
}

body.wrong, .btn.wrong{
    --hue: var(--HUE-WRONG);
}

.block.correct{
    --hue: var(--HUE-CORRECT);
    background-color: hsl(var(--hue), 100%, 40%);
    color: black;
}

.block.wrong{
    --hue: var(--HUE-WRONG);
    background-color: hsl(var(--hue), 100%, 40%);
    color: black;
}


.score-container{
    color: white;
    margin: 40px;
}

.clickable:hover{
    cursor: pointer;
    color: gray;
}

.container, .instructions-container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    position: fixed;
}



.question-counter-container{
    justify-self: end;
}

.btn-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--HUE_NEUTRAL);
    background-color: hsl(var(--hue), 100%, 40%);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    color: white;
    padding: 25px 10px;
    outline: none;
    cursor: pointer;
}

.btn:hover:enabled{
    --hue: var(--HUE_NEUTRAL);
    background-color: hsl(var(--hue), 100%, 35%);
    border-color: black;
}

.start-btn, .end-btn, .next-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    min-width: 50%;
}

.start-btn{
    max-width: 50%;
    grid-column: 1/-1;
}

.controls{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.hide{
    display: none;
}

.selected{
    border-width: 3px;
    border-color: black;
    background-color: hsl(var(--hue), 100%, 20%);
}

#stats-container > div {
    margin: 10px;
}

#percentage-bar-container {
    display: flex;
    flex-basis: content;
}

.block {
    border: 2px solid lightslategrey;
    margin: 0 0 10px 0;
    flex-grow: 1;
    height: 25px;
}

.nav-icon{
    height: 40px;
    margin: 10px;
}

#instructions-icon{
    position: fixed;
    top: 0;
    right: 0;
}

#instructions-modal{
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.instructions-container{
    background-color: bisque;
    height: 500px;
    z-index: 1;
    color: black;
    cursor: default;
}
